<!-- Begin Sub Header -->
<div class="m-subheader" appunwraptag="" [ngClass]="{'d-none': isHeaderShow}">
    <!--  -->
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">
                Services
                <small class="custom-small-header-setting">
                    <a (click)="adjustRadiusMap()" id="adjustRadius" style="cursor:pointer;">
                        <i class="fa fa-map-marker text-muted stats-icons custom-margin-left-zero" tool-tip-toggle="tooltip-demo" data-original-title="Select search radius"></i>
                    </a>
                </small>
                <!-- <small class="fa fa-search text-muted stats-icons custom-margin-left-zero" (click)="mainFilterHide == true? mainFilterHide=false : mainFilterHide=true">
                   <a style="cursor:pointer;">
                   </a>
                   </small> -->
            </h3>
            <!-- <input type="text" class="custom-main-filter custom-main-filter-focus" *ngIf="mainFilterHide">  -->
            <div class="input-group mb-3" style="max-width: 50%;
            margin-left: 15%;
            position: absolute;
            margin-top: -35px;">
                <div class="input-group-prepend">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Personal</a>
                        <a class="dropdown-item" href="" style="    padding-left: 32px;
                     margin-top: -15px;">Hair</a>
                        <a class="dropdown-item" href="" style="    padding-left: 32px;
                     margin-top: -15px;">Health</a>
                        <hr style="    margin: 0;
                     border-top: 1px solid;
                     width: 83%;
                     margin-left: 15px;">
                        <a class="dropdown-item" href="#">Autos</a>
                        <a class="dropdown-item" href="" style="    padding-left: 32px;
                     margin-top: -15px;">Maintenance & Repair</a>
                    </div>
                    <!-- <div class="dropdown" style="margin-left: 5px;">
                       <a class="btn btn-primary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius: 0px;">
                           Sub-Category
                       </a>

                       <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                           <a class="dropdown-item" href="#">Hair</a>
                           <a class="dropdown-item" href="#">Maintenance and Repair</a>
                       </div>
                       </div> -->
                </div>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
                <div class="input-group-append">
                    <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
        <div style="padding-right:0px;">
            <!--Start: List/Grid View-->
            <button class="btn-primary" style="padding:10px; border-radius: 20px; font-size: 22px" (click)="visibleSidebar2 = true; getServicesToCart();  services ">
                <i style="font-size: 26px" class="la la-cart-arrow-down"></i>Open Cart
            </button>
            <!--   <span (click)="isDisplayDetail=false;">
               <button class="btn btn-link pull-right" (click)="changeView()">
               <i class="fa" [ngClass]="{'fa-list' :   isListViewHide, 'fa-th' :isGridViewHide }"></i> {{viewName}} </button>
               </span> -->
            <!--End: List/Grid View-->
            <button class="btn btn-link  pull-right" (click)="mapViewChanging()" [hidden]="isDisplayDetail">
                <i class="fa fa-map-marker" style="padding-right: 2px;
            margin-top: -1px;"></i>Map View</button>
        </div>
    </div>
</div>
<!-- *ngIf="isDisplayDetail" -->
<div class="m-subheader breadcrumb-header m--padding-top-5" *ngIf="isBreadCrum">
    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
            <a class="m-nav__link m-nav__link--icon" routerLink="/index" ng-reflect-href="#">
                <i class="m-nav__link-icon la la-home"></i>
            </a>
        </li>
        <li class="m-nav__separator">
            -
        </li>
        <li class="m-nav__item">
            <a class="m-nav__link" routerLink="/services">
         <span class="m-nav__link-text" style=" font-size: 11px;">
         Services
         </span>
            </a>
        </li>
        <li class="m-nav__separator">
            -
        </li>
        <li class="m-nav__item" *ngIf="mapView">
            <a class="m-nav__link" routerLink="/services">
         <span class="m-nav__link-text" style=" font-size: 11px;">
         Map View
         </span>
            </a>
        </li>
        <!--	<li class="m-nav__item"  [hidden]="isListViewHide">
           <a class="m-nav__link" routerLink="/services">
               <span class="m-nav__link-text" style=" font-size: 11px;">
                   List View
               </span>
           </a>
           </li>

           <li class="m-nav__item" [hidden]="isGridViewHide">
           <a class="m-nav__link" routerLink="/services">
               <span class="m-nav__link-text" style=" font-size: 11px;">
                   Grid View
               </span>
           </a>
           </li> -->
    </ul>
</div>
<hr class="customhr" *ngIf="isBreadCrum" />
<!-- END: Subheader -->
<!--Begin:List Grid View Section :: Comment 1 location-->
<!-- End: List Grid View Section :: Comment 1 location -->
<!-- Begin: Map Modal Start :: Comment 2 Location-->
<!-- Map Modal End :: Comment 2 Location -->
<!-- More Detail Content start -->
<div class="m-content" style="margin-top: 30px;">
    <!--Begin::Section-->
    <div class="row detailSection" *ngIf="moreDetailShow">
        <div class="col-md-12">
            <div class="m-portlet" style=" margin-left: -30px; margin-right: -30px;	margin-top: -50px;">
                <!--Start: Comment Location 3-->
                <!--End: Comment Location 3-->
            </div>
        </div>
    </div>
</div>
<!-- More Detail Content End -->
<!-- Map Detail Content Start -->
<div class="m-content">
    <!--Begin::Section-->
    <div class="row detailSection" *ngIf="mapView">
        <div class="col-md-12">
            <div class="m-portlet" style="margin-left: -30px; margin-right: -30px; margin-top: -80px; margin-bottom: -32px;">
                <div class="m-portlet__body">
                    <div class="row">
                        <!--Start: Comment Location 4-->
                        <!--End: Comment Location 4-->
                        <div class="col-sm-12" style="padding-right: 0px">
                            <div class="row">
                                <!-- All Service show Here -->
                                <div class="col-sm-3" style="padding: 0px; overflow-y: auto; overflow-x: hidden;">
                                    <form style="padding: 13px 15px 1px 15px; background-color: #dbdbdb;">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Search Service" style="border-radius: 15px;" >
                                            <div class="input-group-append custom-pointer">
                                                <!-- <span class="input-group-text">
                                                   <i class="fa fa-search">

                                                    </i></span> -->
                                                <!-- <button type="submit" class="custom-pointer custom-border-map-button" style="border: none;
                                                   background: transparent;">
                                                   <i class="fa fa-search"></i>
                                                   </button> -->
                                            </div>
                                        </div>
                                    </form>
                                    <div class="m-loader m-loader--brand m-loader--lg m--margin-top-25" *ngIf="preloader"></div>
                                    <div class="m--padding-top-10 m--padding-right-10 m--padding-left-10 m--margin-top-15 box-shadow_for_companies" *ngFor="let company of company_and_locations; let i = index;">
                                        <!-- First Card Start -->
                                        <h5 class="m--font-brand m--font-boldest">
                                            <i class="fa fa-industry" style="color: darkslateblue;"> </i>
                                            {{company.company_name.name | uppercase}}
                                            <!--Comment Location 7-->
                                            <!--Comment Location 7-->
                                        </h5>
                                        <!--<p class="custom-margin-bottom-zero">-->
                                        <!--{{company.id}}-->
                                        <!--</p>-->
                                        <!--<p class="custom-margin-bottom-zero">-->
                                        <!--{{company.email}}-->
                                        <!--</p>-->
                                        <h6 class="m--font-brand m--font-bolder m--margin-top-15"> <i class="fa fa-map-marker" style="color: red; margin-left: 3px;"></i> LOCATIONS </h6>
                                        <div class="m--padding-top-10 m--padding-right-10 m--padding-left-10 row" style="padding-bottom: 0px !important;;"
                                             *ngFor="let loc of company.location; let indexLocation = index;"
                                             [style.backgroundColor]="(selectedIndex === indexLocation && selectedParentIndex == i) ? '#eee' : 'transparent'">
                                            <div class="col-md-12">
                                                <h6 class="m--font-bold"> <i class="fa fa-building-o"> </i>  {{loc.name | uppercase}}</h6>
                                            </div>
                                            <div class="col-md-8">
                                                <p class="custom-margin-bottom-zero">
                                                    {{loc.address}}
                                                </p>
                                            </div>
                                            <div class="col-md-4">
                                                <button class="btn btn-sm btn-link btnLinkColor custom-fs-1 pull-right c--margin-right--25"
                                                        (click)="sideInfoPop('service', company, indexLocation, i); servicesTobeAddedInCart = [];" title="Click To View Location Services">
                                                    <i class="fa fa-cogs custom-fs-1" ></i>
                                                    Services <i class="fa fa-chevron-right"></i>
                                                </button>
                                            </div>
                                            <div class="col-md-12">
                                                <hr class="customHr">
                                            </div>

                                        </div>
                                        <!--<hr>-->
                                        <!-- First Card End -->
                                        <!--Start: Comment Location 5-->
                                        <!--ENd: Comment Location 5-->
                                    </div>
                                </div>
                                <!-- All Services End Here -->
                                <!-- Map Start Here -->
                                <div class="col-sm-9" style="padding-right: 0px">
                                    <input type="number" [(ngModel)]="radiusInMeters" />
                                    <p> {{radiusInMeters}} </p>
                                    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="10" >
                                        <agm-marker [latitude]="latitude" [longitude]="longitude" [iconUrl]="icon">
                                            <agm-info-window>
                                                You are here
                                                <!--<br>-->
                                                <!--<strong>Subcategory</strong>: Seafood-->
                                                <!--<br>-->
                                                <!--<strong>Name</strong>: Mississaga Sea Restaraunt-->
                                                <!--<br>-->
                                                <!--<strong>Contact</strong>: 019182010-->
                                            </agm-info-window>
                                        </agm-marker>
                                        <agm-marker *ngFor="let marker of markers" [latitude]="marker.latitude" [longitude]="marker.longitude" >
                                            <agm-info-window [disableAutoPan]="true">
                                                <!--<a routerLink="/">Go there</a>-->
                                                <strong> Location Name  </strong>
                                            </agm-info-window>
                                        </agm-marker>
                                        <agm-circle [latitude]="latitude" [longitude]="longitude" [radius]="radiusInMeters" [fillColor]="'blue'"
                                                    [circleDraggable]="true" [editable]="true">
                                        </agm-circle>
                                    </agm-map>
                                </div>
                                <!-- Map End Here -->
                                <!-- side Services info popup start -->
                                <div style="position: absolute;	margin-left: 27%; background-color: white;
                        width: 35%;
                        height: 98%;
                        margin-top: 5px;" *ngIf="showServices">
                                    <div class="container" style="padding: 10px">
                                        <h4>
                                            {{current_company_location.location[selectedIndex].name | uppercase}}
                                            <span class="custom-float-right custom-pointer" (click)="showServices=false;">
                              <i class="fa fa-times"></i>
                              </span>
                                        </h4>
                                        <p class="custom-margin-bottom-zero">
                                            <span class="checked"> 4.0 </span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            (7)
                                            One Room With Bath
                                        </p>
                                        <p class="custom-margin-bottom-zero">
                                            <strong>
                                                Address:
                                            </strong>{{current_company_location.location[selectedIndex].address}}
                                        </p>
                                        <p class="custom-margin-bottom-zero">
                                            <strong>
                                                Phone:
                                            </strong>+1 416-488-5254
                                        </p>
                                        <p class="custom-margin-bottom-zero">
                                            <strong>
                                                Hours:
                                            </strong>
                                            <span style="color:red">Close</span>
                                            <span> 6:00 </span>
                                            <span> - </span>
                                            <span>Open</span>
                                            <span> 23:00 </span>
                                        </p>
                                        <br>
                                        <h5 style="font-weight: 600;
                              font-size: 15px;">
                                            Services
                                        </h5>
                                        <div class="m-loader m-loader--brand m-loader--lg m--margin-top-25" *ngIf="preloaderServices"></div>
                                        <div class="custom-width-scroll" *ngIf=" services.length > 0;">
                                            <p class="custom-margin-bottom-zero"  *ngFor="let service of services; let i = index;">
                                 <span class="custom-width">
                                 <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand custom_margin_bottom" style="margin-right: -10px;
                                    height: 12px;">
                                 <input type="radio" name="serviceRadioButton"  [disabled]="permissions[i]" (change)="showBookButtonMap($event); servicesCheckboxes($event, i);">
                                 <span></span>
                                 </label>
                                 </span>
                                                <span class="custom-hover-change-color custom-pointer">
                                 <span data-toggle="modal" data-target="#infoModal" (click)="selectService(i)">
                                 {{service.service_name}}
                                 </span>
                                 </span>
                                                <span class="custom-float-right m--font-success">
                                 {{service.price}}
                                 </span>
                                            </p>
                                        </div>
                                        <ng-template #noServicesFound [ngIf]="services.length == 0 && !preloaderServices">
                                            <p>No services found for this location.</p>
                                        </ng-template>
                                        <hr style="margin: 5px;">
                                        <div class="row">
                                            <div class="col-md-12" style="margin-top: 10px;
                                 text-align: right;">
                                                <a (click)="addServicesToCart();" attr.disabled="isDisabled"  class="btn btn-sm btn-primary custom-margin-right-book-button"
                                                   [ngClass]="{'active': activeBookMap, 'disabled': disabledBookMap}">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- side-info popup end -->
                                <!--Start: Comment Location 6-->
                                <!--End: Comment Location 6-->
                                <!--Start: Comment Location 9-->
                                <!--End: Comment Location 9-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Map Detail content End -->
<!-- Right side bar Modal  Start-->
<p-sidebar [(visible)]="visibleSidebar2" position="right" [baseZIndex]="10000" >
    <div>
        <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" id="m_quick_sidebar_tabs" role="tablist">
            <li class="nav-item m-tabs__item" style="pointer-events: none">
                <a class="nav-link m-tabs__link active show custom-font-size" data-toggle="tab" href=""
                   aria-selected="true" [ngClass]="{ 'active' : activeItemTab}" (click)="activeTab('items')" >
                    Items-List
                </a>
            </li>
            <li class="nav-item m-tabs__item" *ngIf="proceedCounter > 0 " style="pointer-events: none">
                <a class="nav-link m-tabs__link custom-font-size" disabled data-toggle="tab" href=""  aria-selected="false" (click)="activeTab('schedule')"  [ngClass]="{ 'active' : activeScheduleTab}" >
                    Schedule
                </a>
            </li>
            <li class="nav-item m-tabs__item" *ngIf="proceedCounter > 0 " style="pointer-events: none">
                <a class="nav-link m-tabs__link custom-font-size" data-toggle="tab" href=""  aria-selected="false" (click)="activeTab('payment')"  [ngClass]="{ 'active' : activePaymentTab}" >
                    Payment
                </a>
            </li>
            <li class="nav-item m-tabs__item" *ngIf="proceedCounter > 0 " style="pointer-events: none">
                <a class="nav-link m-tabs__link custom-font-size" data-toggle="tab" href="" ng-reflect-href="#m_tabs_5_3" aria-selected="false" (click)="activeTab('more')" [ngClass]="{ 'active' : activeMoreTab}">
                    Confirmation
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <!-- Items Tab Start Here -->
            <div class="tab-pane active show" id="m_tabs_5_1" role="tabpanel"  [ngClass]="{ 'active' : activeItemTab,
         'show':  activeItemTab }">
                <p *ngIf="!preloaderFetchingCartItems"><span style="color: red;">Note:</span> To proceed to next step you must accept terms and conditions</p>
                <div class="m-loader m-loader--brand m-loader--lg m--margin-top-25" *ngIf="preloaderFetchingCartItems"></div>

                <!--<div class="m-loader m-loader&#45;&#45;brand m-loader&#45;&#45;lg m&#45;&#45;margin-top-25" *ngIf="preloaderNoCartItemsFound"></div>-->
                <!--<h3 class="text-center text-dark text-capitalize m-loader m-loader&#45;&#45;brand m-loader&#45;&#45;lg m&#45;&#45;margin-top-25"-->
                     <!--*ngIf="preloaderFetchingCartItems == true && !preloaderNoCartItemsFound">-->
                    <!--No items inside your cart..-->
                <!--</h3>-->
                <div class="custom-card-shadow m--margin-bottom-15" *ngFor="let cartService of cartServices; let i = index;">
                    <h4 style="color:#716aca">{{cartService.company_name}}
                        <br class="add-line-break">
                        <span class="custom-float-right custom-top--four custom-pointer"><a data-target="#m_modal_terms" data-toggle="modal" style="font-size:small;">Terms and Conditions</a></span>
                        <label class="m-checkbox custom-float-right m-checkbox--air m-checkbox--state-brand custom-margin-right--10"  title="CheckBox For Company Terms And Conditions" >
                            <input type="radio" name="cartItemTermsCheckbox" (click)="showProceedButton1($event, i);">
                            <span class="custom-check-box-setting " data-target="#m_modal_terms" data-toggle ="modal" [hidden]="!hideTermsModal"></span>
                            <span class="custom-check-box-setting " [hidden]="hideTermsModal"></span>
                        </label>
                    </h4>
                    <table class="table table-hover">
                        <thead>
                        <tr>

                            <th scope="col" class="text-left c--width-30px"> Pick </th>
                            <th scope="col" class="text-left">Location Name</th>
                            <th scope="col"  class="text-left">Items</th>
                            <th scope="col" class="text-left c--width-30px">Price</th>
                            <th scope="col" class="text-left"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let serviceInfo of cartService.service; let serviceInfoIndex = index">
                            <!-- *ngFor="let i= index"-->
                            <ng-container *ngIf="deleted">

                                <td>
                                    <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand custom_margin_bottom m--margin-right-10" style="height: 12px;">

                                    <input type="radio" name="cartServicesRadioBtn" (click)="servicesInCartRadiosFirstScreen(cartService.company_name, serviceInfo ,$event, serviceInfoIndex, i);">

                                        <span></span>
                                    </label>
                                </td>
                                <td>
                                    {{serviceInfo.company_location_name}}
                                </td>
                                <td scope="row" >{{serviceInfo.name}}</td>
                                <td>{{serviceInfo.price}}</td>
                                <td class="text-center custom-pointer">
                                    <a (click)="onDelete(i)">
                                        <i class="fa fa-trash" style="color: #f5516c;"></i>
                                    </a>
                                </td>
                                <!-- <td >${{cartService.price}}</td> -->
                            </ng-container>
                        </tr>
                        </tbody>
                    </table>
                    <hr class="custom-hr-style" *ngIf="agreedCartItemIndex == i">  <!-- proceedCounter > 0 -->
                    <!--<p class="custom-first-paragraph">-->
                        <!--<input type="text" placeholder="Enter Coupon For Items" class="custom-coupon-setting" *ngIf="coupon1check">-->
                        <!--<button class="btn btn-link btn-sm custom-apply-link" (click)="coupon1check = false" *ngIf="coupon1check">Apply</button>-->
                        <!--<button class="btn btn-link btn-sm custom-apply-link" (click)="coupon1check = true" *ngIf="!coupon1check" style="margin-top: 20px;">Coupon</button>-->

                            <!--SUB TOTAL START-->
                                <!--<span class="text-muted m&#45;&#45;margin-right-35"> Sub Total :</span>-->
                                    <!--OLD CODE Price-->
                                    <!--<span class="text-muted m&#45;&#45;margin-right-10">  {{cartService.sub_total_price}}</span>-->

                                    <!--NEW CODE PRICE-->
                                    <!--<span class="text-muted m&#45;&#45;margin-right-10">  {{selectedLocationServicePrice}}</span>-->
                            <!--SUB TOTAL END-->

                    <!--</p>-->

                    <!-- DISCOUNT START-->
                            <!--<p class="custom-p2-setting m&#45;&#45;margin-bottom-20">-->
                                <!--<span class="text-muted m&#45;&#45;margin-right-30">Discount(40%) :</span>-->
                                <!--OLD CODE Price-->
                                <!--<span class="custom-theme-default text-muted m&#45;&#45;margin-right-10">  {{ cartService.discount }}</span>-->

                                <!--OLD CODE Price-->
                                <!--<span class="text-muted m&#45;&#45;margin-right-10">  {{discountAmount}}</span>-->
                            <!--</p>-->
                    <!-- DISCOUNT END -->

                    <!-- TAX START -->
                            <!--<p style="text-align: right; font-weight: 500; margin-top: -15px;">-->
                                <!--<span class="text-muted m&#45;&#45;margin-right-30"> Tax(10%) : </span>-->
                                    <!--OLD CODE Price-->
                                    <!--<span class="custom-theme-default text-muted m&#45;&#45;margin-right-10">  {{ cartService.tax }} </span>-->

                                    <!--OLD CODE Price-->
                                    <!--<span class="text-muted m&#45;&#45;margin-right-10">  {{taxAmount}}</span>-->
                            <!--</p>-->
                    <!-- TAX END -->

                    <!--TOTAL START-->
                            <!--<h4 style="text-align: right; font-weight: bold;">-->
                                <!--<span class="m&#45;&#45;margin-right-15"> Total :</span>-->
                                <!-- OLD PRICE CODE-->
                                <!--<span class="custom-theme-default m&#45;&#45;margin-right-10">   {{ cartService.total_price | currency:'CAD' }}</span>-->

                                <!--NEW PRICE CODE-->
                                <!--<span class="custom-theme-default m&#45;&#45;margin-right-10">   {{ totalAmount | currency:'CAD' }}</span>-->
                            <!--</h4>-->
                    <!--TOTAL END-->
                               
                    <div class="col text-right">

                                                                                                                                    <!--  isProceedFirstEnabled &&  -->
                        <button *ngIf="agreedCartItemIndex == i" type="button" class="btn btn-primary" [disabled]="selectedServiceParentIndex != i || termsAndConditonIndex != i"
                                (click)="activeTab('schedule'); getStaffFromLocation(); proceedCartServices(cartService, i, serviceInfoIndex)">Proceed S1 <i class="fa fa-chevron-right"></i></button>

                    </div>
                   
                </div>
                <!--Start: Comment Location 10-->
                <!--End: Comment Location 10-->
            </div>
            <!-- Items Tab End Here -->
            <!-- Payment Tab Start Here -->
            <div class="tab-pane" [ngClass]="{ 'active' : activePaymentTab,
         'show':  activePaymentTab }"
                 id="m_tabs_5_2" role="tabpanel">
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-link pull-left custom-padding-left-top-zero" (click)="addNewPaymentCardHide = false" *ngIf="addNewPaymentCardHide">
                            <i class="fa fa-angle-left m--padding-right-5" style=" padding-bottom: 3px;"></i>BACK
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-link pull-right" style="padding-top:0px;" (click)="addNewPaymentCardHide = true">
                            <i class="fa fa-plus"></i> Add new Card
                        </button>
                    </div>
                </div>
                <!-- Payment Cards -->
                <div class="m-demo__preview" *ngIf="!addNewPaymentCardHide">
                    <div class="m-stack m-stack--hor m-stack--general m-stack--demo" style="height: 400px">
                        <div class="m-stack__item">
                            <div class="m-stack__demo-item custom-card-design custom-h-class" (click)="paymentCheckTickHide = true">
                                <div class="row">
                                    <div class="col-md-8">
                                        <img src="./assets/demo/demo3/media/img/americanexpress.png">
                                        <span class="m--padding-left-15">American Express</span>
                                    </div>
                                    <div class="col-md-4 custom-color m--padding-top-15">
                                        <i class="fa fa-check" *ngIf="paymentCheckTickHide"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="text-align: right;">
                                        <img class=" personimage custom-border-radius" src="./assets/demo/demo3/media/img/men1.jpg">
                                        <span class="custom-card-owner-setting">
                           Niaz Khan Card
                           </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-stack__item">
                            <div class="m-stack__demo-item custom-card-design custom-h-class">
                                <div class="row">
                                    <div class="col-md-8">
                                        <img src="./assets/demo/demo3/media/img/mastercard.png">
                                        <span class="m--padding-left-15">Master-Card</span>
                                    </div>
                                    <div class="col-md-4" style="text-align: right;">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="text-align: right;">
                                        <img class=" personimage custom-border-radius" src="./assets/demo/demo3/media/img/men1.jpg">
                                        <span class="custom-card-owner-setting">
                           Niaz Khan Card
                           </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-stack__item">
                            <div class="m-stack__demo-item custom-card-design custom-h-class">
                                <div class="row">
                                    <div class="col-md-8">
                                        <img src="./assets/demo/demo3/media/img/paypal.png">
                                        <span class="m--padding-left-15">Paypal</span>
                                    </div>
                                    <div class="col-md-4" style="text-align: right;">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="text-align: right;">
                                        <img class=" personimage custom-border-radius" src="./assets/demo/demo3/media/img/men2.jpg">
                                        <span class="custom-card-owner-setting">
                           Sharjeel khan Card
                           </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-stack__item">
                            <div class="m-stack__demo-item custom-card-design custom-h-class">
                                <div class="row">
                                    <div class="col-md-8">
                                        <img src="./assets/demo/demo3/media/img/visa.png">
                                        <span class="m--padding-left-15">Visa</span>
                                    </div>
                                    <div class="col-md-4" style="text-align: right;">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="text-align: right;">
                                        <img class=" personimage custom-border-radius" src="./assets/demo/demo3/media/img/men1.jpg">
                                        <span class="custom-card-owner-setting">
                           Niaz Khan Card
                           </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col">
                                   <button class="btn btn-default custom-float-left" style="margin-top: 10px;"  (click)=" scheduleTabShow(); "><i class="fa fa-chevron-left"></i> Back</button>
                            </div>            
                           <div class="col text-right">
                                <button class="btn btn-primary custom-float-right m--margin-top-10" (click)="activeTab('more'); showConfirmationTab();">Proceed S3 <i class="fa fa-chevron-right"></i></button>
                           </div>
                           </div>
                   
                </div>
                <!-- Add new Payment Methonds -->
                <form *ngIf="addNewPaymentCardHide">
                    <div class="form-group m-form__group">
                        <label>
               <span>
               Card Number
               </span>
                        </label>
                        <input class="form-control m-input m-input--square" placeholder="Enter Card Number" type="text">
                    </div>
                    <div class="form-group m-form__group">
                        <label>
                            Start Date
                        </label>
                        <input class="form-control m-input m-input--square" placeholder="Enter Start Date" type="date">
                    </div>
                    <div class="form-group m-form__group">
                        <label>
                            Expire Date
                        </label>
                        <input class="form-control m-input m-input--square" placeholder="Enter Expire Date" type="date">
                    </div>
                    <div class="form-group m-form__group">
                        <label>
                            CVV
                        </label>
                        <input class="form-control m-input m-input--square" placeholder="Enter Expire Date" type="date">
                    </div>
                    <button class="btn btn-primary custom-float-right ">Submit</button>
                </form>
            </div>
            <!-- Payment Tab End Here -->
            <!-- Conformation Tab Start Here -->
            <div class="tab-pane" id="m_tabs_5_3" role="tabpanel" [hidden]="confirmation" [ngClass]="{ 'active' : activeMoreTab,
         'show':  activeMoreTab }">
                <div class="col" *ngIf="!orderNowCheck">
                    <h4>Confirmation</h4>
                    <div class="custom-card-shadow">
                            <!--OLD CODE-->
                                <!--<h4 style="color:#716aca">{{confirmationStepCardInfo.company_name}}-->

                            <!--NEW CODE-->
                                <h4 style="color:#716aca">{{selectedCompanyName}}
                            <br class="add-line-break">
                        </h4>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col"  class="col-md-6">Items</th>
                                <th scope="col" >Price</th>
                            </tr>
                            </thead>
                            <tbody>
                                <!--OLD CODE-->
                                    <!--<tr *ngFor="let service of confirmationStepCardInfo.service; let i= index">-->
                                        <!--<th scope="row" >{{service.name}}</th>-->
                                        <!--<td >{{service.price | currency:'CAD'}}</td>-->
                                    <!--</tr>-->

                                <!--NEW CODE-->
                                <tr>
                                    <th scope="row" >{{selectedServiceName}}</th>
                                    <td >{{total_price | currency:'CAD'}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr class="custom-hr-style">
                        <h4 class="text-right" style="font-weight:bold;">
                            <span> Total Price : </span>
                            <span class="custom-theme-default" style="margin-right: 8px;"> {{total_price | currency:'CAD'}}</span>
                        </h4>
                    </div>
                    <p class="text-right" style="margin-top:15px;">Are your sure to place order ?</p>
                    <button class="btn btn-primary custom-float-right" (click)="placeCartOrder2()">Order Now New</button>
                    <button class="btn btn-primary custom-float-right" (click)="orderNowCheck = true;placeCartOrder()">Order Now <i class="fa fa-check"></i></button>
                    <button class="btn btn-danger custom-float-left" (click)="payment=[]; data =[]; servicesPlaceOrder = []; clearPlacedOrder(); visibleSidebar2 = false; hideTabs($event, i);" style="margin-right: 5px;">Cancel</button>
                    
                </div>
                <div class="col text-center" *ngIf="orderNowCheck">
                    <h4>Congratulations</h4>
                    <div class="text-center">
                        <img src="./assets/demo/demo3/media/img/confetti.png" class="rounded" alt="..." style="width:15%;">
                    </div>
                    <p>Your Order Has Been Successfully Placed</p>
                    <button class="btn btn-primary" (click)="thanksUpdate()" >Return</button>
                </div>
            </div>
            <!-- Conformation Tab end Here -->
            <!-- schedule Tab Start Here -->
            <div class="tab-pane" id="m_tabs_5_4 " role="tabpanel"  [ngClass]="{ 'active' : activeScheduleTab,
         'show':  activeScheduleTab }">
                <form>
                    <!--<div class="form-group">-->
                        <!--<label for="sel1" style="font-weight: bold;">Select Employee</label>-->
                        <!--<select class="form-control" id="sel1" name="noPreferences" [ngModel]="'0'" (change)=getEmpId($event) > &lt;!&ndash; #empRefVar (was using previously now 0 is hardcoded) &ndash;&gt;-->
                            <!--<option value="0">No Preferences </option>-->
                            <!--<option  *ngFor="let employee of locationEmployees; let empIndex = index;" value={{employee.staff_id}} #empId>{{employee.name}} </option>-->
                        <!--</select>-->
                    <!--</div>-->

                    <div class="form-group m-form__group">
                        <h5> <strong>NOTE:</strong> Choose preferred date &amp; time for availing service</h5>
                        <label>
                            <strong>Select Date</strong>
                        </label>
                        <br>
                        <ngb-datepicker (select)="changeDateFunc2($event);" name="datepickerSchedule" ngModel style="width: 100%;" #dateRefVar
                                        [minDate]
                                        [maxDate]
                                        [markDisabled]="dateDisabled">
                        </ngb-datepicker>

                        <!--<div>-->
                            <!--<div class="input-group date">-->
                                <!--&lt;!&ndash; <input [(ngModel)]="staff_book_date" class="form-control m-input " id="m_datepicker_2_validate" placeholder="Select Date" type="date"> &ndash;&gt;-->
                                <!--<div class="input-group-append">-->
                                    <!--<input  class="form-control m-input" (change)="changeDateFunc($event);"  #dateRefVar  placeholder="Select Date" type="date">-->
                                    <!--<span class="input-group-text">-->
                        <!--<i class="la la-calendar-check-o glyphicon-th"></i>-->
                        <!--</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group m-form__group">
                                <label>
                                    <strong> Select Time Slot </strong>
                                </label>
                                <ngb-timepicker [(ngModel)]="timeSlotPicker" [formControl]="ctrl" [hourStep]="hourStep" [minuteStep]="minuteStep"
                                                (change)="changeTimeFunc2($event);" name="timeSlotPicer">
                                </ngb-timepicker>
                                <b *ngIf="locationSchedule != ''">Choose time between <span class="text-success">{{locationSchedule}}</span></b>
                                <br>
                                <div *ngIf="ctrl.valid" class="small form-text text-success">Great choice</div>
                                <div class="small form-text text-danger" *ngIf="!ctrl.valid">
                                    <div *ngIf="ctrl.errors['required']">Select some time during Schedule</div>
                                    <div *ngIf="ctrl.errors['tooLate']">Oh no, it's way too late</div>
                                    <div *ngIf="ctrl.errors['tooEarly']">It's a bit too early</div>
                                </div>

                                <pre>Selected time: {{timeSlotPicker | json}}</pre>

                                <!-- OLD CODE TIME PICKER -->
                                <!--<div>-->
                                    <!--<div class="input-group date">-->
                                        <!--<input class="form-control m-input timepicker" #timeRefvar placeholder="Select Time" [value]="staff_book_time" (change)="changeTimeFunc($event);" id="m_timepicker_2_validate" placeholder="Select Time " type="time">-->
                                        <!--<div class="input-group-append">-->
                                            <!--<span class="input-group-text">-->
                                            <!--<i class="la la-calendar-check-o glyphicon-th"></i>-->
                                            <!--</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-link" (click)="checkTimeAvailability();">
                                Check Availibility
                            </button>
                        </div>
                    </div>

                </form>
                <div class="row">
                        <div class="col">
                               <button  class="btn btn-default custom-float-left"  (click)=" itemTabShow(); "><i class="fa fa-chevron-left"></i> Back</button>
                        </div>            
                        <div class="col text-right">
                            <button *ngIf="proceedCounter > 0 " type="button" class="btn btn-primary" [disabled]="!ctrl.valid"
                                    (click)="activeTab('payment'); getTimeAndDate(); saveStaffSchedule();">Proceed S2</button>
                        </div>
                </div>
               

            </div>
            <!-- schedule Tab Start Here -->
        </div>
    </div>
</p-sidebar>
<!-- Right side bar Modal  End-->
<!-- Terms and Condition Modal Start -->
<div aria-labelledby="exampleModalLabel" class="modal fade custom-terms-main-div" id="m_modal_terms" role="dialog" tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-left: 25%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Terms and Condition
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">
            ×
            </span>
                </button>
            </div>
            <div class="modal-body">
                <div class="m-scrollable m-scroller ps cutom-terms-modal-body" data-height="200" data-scrollable="true" data-scrollbar-shown="true">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                        with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                        with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                        with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                    <div class="ps__rail-x custom-rail-x">
                        <div class="ps__thumb-x custom-thumb-x" tabindex="0"></div>
                    </div>
                    <div class="ps__rail-y custom-rail-y">
                        <div class="ps__thumb-y custom-thumb-y" tabindex="0"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!-- <button class="btn btn-secondary" data-dismiss="modal" type="button">
                   Close
                   </button> -->
                <button class="btn btn-primary"  data-dismiss="modal" type="button">
                    OK
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Terms and Condition Modal End -->
<!-- Info Modal Start Here -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Service Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>{{currentService.name}}</h4>
                <h6>{{currentService.details}} <span class="custom-float-right m--font-success">{{priceInfoTitle}}</span></h6>
                <p>{{currentService.price}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>
<!-- Info Modal End Here-->
