<!-- Begin Sub Header -->
<div class="m-subheader" appunwraptag="" [ngClass]="{'d-none': isHeaderShow}">
    <!--  -->
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title animated flipInY ">
                Services
                <small class="custom-small-header-setting">
                    <a (click)="adjustRadiusMap()" id="adjustRadius" style="cursor:pointer;">
                        <i class="fa fa-map-marker text-muted stats-icons custom-margin-left-zero" tool-tip-toggle="tooltip-demo" data-original-title="Select search radius"></i>
                    </a>
                </small>
                <!-- <small class="fa fa-search text-muted stats-icons custom-margin-left-zero" (click)="mainFilterHide == true? mainFilterHide=false : mainFilterHide=true">
                   <a style="cursor:pointer;">
                   </a>
                   </small> -->
            </h3>
            
        </div>
        <div style="padding-right:0px;">
            <!--Start: List/Grid View-->
            <span class="m-nav__link-badge badge_adjustment">

                <span class="m-badge m-badge--success" *ngFor="let cartitem of dashboardcustomer">
                <span *ngIf="!cartitem.cart_item || cartitem.cart_item.length === 0">0</span>
                {{cartitem.cart_item}}
                </span>
            </span>
            <button class="btn-primary cartBtnStyle"  (click)="visibleSidebar2 = true; getServicesToCart();  services ">
                
                <i style="font-size: 26px" class="la la-cart-arrow-down"></i>
                
            </button>
           




            <!--   <span (click)="isDisplayDetail=false;">
               <button class="btn btn-link pull-right" (click)="changeView()">
               <i class="fa" [ngClass]="{'fa-list' :   isListViewHide, 'fa-th' :isGridViewHide }"></i> {{viewName}} </button>
               </span> -->
            <!--End: List/Grid View-->
            <button class="btn btn-link  pull-right" (click)="mapViewChanging()" [hidden]="isDisplayDetail">
                <i class="fa fa-map-marker" style="padding-right: 2px;
            margin-top: -1px;"></i>Map View</button>
        </div>
    </div>
</div>
<!-- *ngIf="isDisplayDetail" -->
<div class="m-subheader breadcrumb-header m--padding-top-5" *ngIf="isBreadCrum">
    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline animated flipInY ">
        <li class="m-nav__item m-nav__item--home">
            <a class="m-nav__link m-nav__link--icon" routerLink="/index" ng-reflect-href="#">
                <i class="m-nav__link-icon la la-home"></i>
            </a>
        </li>
        <li class="m-nav__separator">
            -
        </li>
        <li class="m-nav__item">
            <a class="m-nav__link" routerLink="/services">
         <span class="m-nav__link-text" style=" font-size: 11px;">
         Services
         </span>
            </a>
        </li>
        <li class="m-nav__separator">
            -
        </li>
        <li class="m-nav__item" *ngIf="mapView">
            <a class="m-nav__link" routerLink="/services">
         <span class="m-nav__link-text" style=" font-size: 11px;">
         Map View
         </span>
            </a>
        </li>
        <!--	<li class="m-nav__item"  [hidden]="isListViewHide">
           <a class="m-nav__link" routerLink="/services">
               <span class="m-nav__link-text" style=" font-size: 11px;">
                   List View
               </span>
           </a>
           </li>

           <li class="m-nav__item" [hidden]="isGridViewHide">
           <a class="m-nav__link" routerLink="/services">
               <span class="m-nav__link-text" style=" font-size: 11px;">
                   Grid View
               </span>
           </a>
           </li> -->
    </ul>
</div>
<hr class="customhr" *ngIf="isBreadCrum" />
<!-- END: Subheader -->
<!--Begin:List Grid View Section :: Comment 1 location-->
<!-- End: List Grid View Section :: Comment 1 location -->
<!-- Begin: Map Modal Start :: Comment 2 Location-->
<!-- Map Modal End :: Comment 2 Location -->
<!-- More Detail Content start -->
<div class="m-content" style="margin-top: 30px;">
    <!--Begin::Section-->
    <div class="row detailSection" *ngIf="moreDetailShow">
        <div class="col-md-12">
            <div class="m-portlet" style=" margin-left: -30px; margin-right: -30px;	margin-top: -50px;">
                <!--Start: Comment Location 3-->
                <!--End: Comment Location 3-->
            </div>
        </div>
    </div>
</div>
<!-- More Detail Content End -->

<!-- Map Detail Content Start -->
<div class="m-content ">
    <!--Begin::Section-->
    <div class="row detailSection" *ngIf="mapView">
        <div class="col-md-12">
            <div class="m-portlet" style="margin-left: -30px; margin-right: -30px; margin-top: -80px; margin-bottom: -32px;">
                <div class="m-portlet__body">
                    <!--<div class="row">-->
                            <!--Start: Comment Location 4-->
                            <!--End: Comment Location 4-->
                        <!--<div class="col-sm-12" style="padding-right: 0px">-->
                            <div class="row" style="display: flex;">
                                <!-- All Service show Here -->
                                <div class="col-sm-3" style="padding: 0px; overflow-y: auto; overflow-x: hidden; height: 100vh;">

                                    <!-- BEGIN SEARCH CRITERIA RADIOS -->
                                    <div class="m-radio-inline">
                                        <label class="m-radio m-radio--solid m-radio--brand">
                                            <input type="radio" name="search_criteria" checked="true" (change)="searchByCompany($event)"> Search By Company
                                            <span></span>
                                        </label>
                                       
                        
                                        <label class="m-radio m-radio--solid m-radio--brand">
                                            <input type="radio" name="search_criteria" (change)="searchByService($event)"> Search By Service
                                            <span></span>
                                        </label>
                                    </div>
                                    <!-- END SEARCH CRITERIA RADIOS -->

                                    <!-- ------------------ BEGIN Search By Company View BEGIN ------------------------- -->
                                    <div *ngIf="searchByCompanyView">

                                        <form class="animated fadeInRight animation-delay-3" style="padding: 13px 15px 1px 15px; background-color: #dbdbdb;">
                                            <div class="input-group mb-3 ">
                                                <input type="text" class="form-control" [(ngModel)]="searchText" name="searchInputFilter" placeholder="Search Company..." style="border-radius: 15px;" >
                                                <div class="input-group-append custom-pointer">
                                                    <!-- <span class="input-group-text">
                                                       <i class="fa fa-search">

                                                        </i></span> -->
                                                    <!-- <button type="submit" class="custom-pointer custom-border-map-button" style="border: none;
                                                       background: transparent;">
                                                       <i class="fa fa-search"></i>
                                                       </button> -->
                                                </div>
                                            </div>
                                        </form>
                                        <div class="m-loader m-loader--brand m-loader--lg m--margin-top-25" *ngIf="preloader"></div>
                                        <div class="col-sm-12 m--margin-top-10 h4" *ngIf="(company_and_locations | searchFilter : searchText).length === 0"> No records found! Make sure that you have allow your location & Refresh your page...</div>
                                        <div class="m--padding-top-10 m--padding-right-10 m--padding-left-10 m--margin-top-15 box-shadow_for_companies animated fadeInLeft animation-delay-3"
                                             *ngFor="let company of company_and_locations | searchFilter: searchText; let i = index;">
                                            <!-- First Card Start -->
                                            <h5 class="m--font-brand m--font-boldest">
                                                <i class="fa fa-industry" style="color: darkslateblue;"> </i>
                                                {{company.company_name.name | uppercase}}
                                                <!--Comment Location 7-->
                                                <!--Comment Location 7-->
                                            </h5>
                                            <!--<p class="custom-margin-bottom-zero">-->
                                            <!--{{company.id}}-->
                                            <!--</p>-->
                                            <!--<p class="custom-margin-bottom-zero">-->
                                            <!--{{company.email}}-->
                                            <!--</p>-->
                                            <h6 class="m--font-brand m--font-bolder m--margin-top-15"> <i class="fa fa-map-marker" style="color: red; margin-left: 3px;"></i> LOCATION(S) </h6>
                                            <div class="m--padding-top-10 m--padding-right-10 m--padding-left-10 row" style="padding-bottom: 0px !important;;"
                                                 *ngFor="let loc of company.location; let indexLocation = index;"
                                                 [style.backgroundColor]="(selectedIndex === indexLocation && selectedParentIndex == i) ? '#eee' : 'transparent'">
                                                <div class="col-md-12">
                                                    <h6 class="m--font-bold"> <i class="fa fa-building-o"> </i>  {{loc.name | uppercase}}</h6>
                                                </div>
                                                <div class="col-md-8">
                                                    <p class="custom-margin-bottom-zero">
                                                        {{loc.address}}
                                                    </p>
                                                </div>
                                                <div class="col-md-4">
                                                    <button class="btn btn-sm btn-link btnLinkColor custom-fs-1 pull-right c--margin-right--25"
                                                            (click)="sideInfoPop('service', company, indexLocation, i); servicesTobeAddedInCart = [];" title="Click To View Location Services">
                                                        <i class="fa fa-cogs custom-fs-1" ></i>
                                                        Services <i class="fa fa-chevron-right"></i>
                                                    </button>
                                                </div>
                                                <div class="col-md-12">
                                                    <hr class="customHr">
                                                </div>

                                            </div>
                                            <!--<hr>-->
                                            <!-- First Card End -->
                                            <!--Start: Comment Location 5-->
                                            <!--ENd: Comment Location 5-->
                                        </div>

                                    </div>
                                    <!-- ------------------ END Search By Company View END ---------------------- -->

                                    <!-- ------------------ BEGIN: Search By Service View  ---------------------- -->
                                    <div *ngIf="!searchByCompanyView">

                                        <form class="animated fadeInLeft animation-delay-3" style="padding: 13px 15px 1px 15px; background-color: #dbdbdb;">
                                            <div class="input-group mb-3  ">
                                                <input type="text" class="form-control" [(ngModel)]="searchServiceText" name="searchInputServiceFilter" placeholder="Search Service..." style="border-radius: 15px;" >
                                                <div class="input-group-append custom-pointer">
                                                </div>
                                            </div>
                                        </form>

                                        <!--<div class="m-loader m-loader&#45;&#45;brand m-loader&#45;&#45;lg m&#45;&#45;margin-top-25" *ngIf="preloader"></div>-->
                                        <div class="col-sm-12 m--margin-top-10 h4" *ngIf="(companyLocationServices | serviceSearchFilter : searchServiceText).length === 0"> No services found against your search...</div>

                                        <div class="m--padding-top-10 m--padding-right-10 m--padding-left-10 m--margin-top-15 box-shadow_for_companies  animated fadeInRight animation-delay-3"
                                             *ngFor="let company of companyLocationServices | serviceSearchFilter: searchServiceText; let i = index;">

                                            <h5 class="m--font-brand m--font-boldest">
                                                <i class="fa fa-industry" style="color: darkslateblue;"> </i>
                                                {{company.company_name.name | uppercase}}

                                            </h5>
                                            <!--<h6 class="m&#45;&#45;font-brand m&#45;&#45;font-bolder m&#45;&#45;margin-top-15"> <i class="fa fa-map-marker" style="color: red; margin-left: 3px;"></i> LOCATIONS </h6>-->
                                            <div class="m--padding-top-10 m--padding-right-10 m--padding-left-10 row" style="padding-bottom: 0px !important;;"
                                                 *ngFor="let loc of company.locations; let indexLocation = index;">
                                                <!-- [style.backgroundColor]="(selectedIndex === indexLocation && selectedParentIndex == i) ? '#eee' : 'transparent'" -->
                                                <div class="col-md-12">
                                                    <h6 class="m--font-bolder"> <i class="fa fa-map-marker" style="color: red;"> </i>  {{loc.location.name | uppercase}}</h6>
                                                </div>
                                                <!--<div class="col-md-8">-->
                                                    <!--<p class="custom-margin-bottom-zero">-->
                                                        <!--{{loc.location.address}}-->
                                                    <!--</p>-->
                                                <!--</div>-->
                                                <!--<div class="col-md-4">-->
                                                    <!--<button class="btn btn-sm btn-link btnLinkColor custom-fs-1 pull-right c&#45;&#45;margin-right&#45;&#45;25"-->
                                                            <!--(click)="sideInfoPop('service', company, indexLocation, i); servicesTobeAddedInCart = [];" title="Click To View Location Services">-->
                                                        <!--<i class="fa fa-cogs custom-fs-1" ></i>-->
                                                        <!--Services <i class="fa fa-chevron-right"></i>-->
                                                    <!--</button>-->
                                                <!--</div>-->
                                                <hr>
                                                <div class="m--padding-top-10 m--padding-right-10 m--padding-left-10 width-100 row"
                                                     style="padding-bottom: 0px; margin: 0 7px; min-height: 50px; max-height: 100px; overflow-y: auto;">

                                                    <!--<p class="m&#45;&#45;font-brand m&#45;&#45;font-bold" style="width: 100%;"-->
                                                       <!--*ngFor="let service of loc.services; let indexLocServices = index;">-->
                                                        <!--<i class="fa fa-cog" style="color: darkslateblue;"> </i>-->
                                                        <!--{{service.name}}-->

                                                    <!--</p>-->

                                                    <!--<div class="custom-width-scroll" *ngIf=" services.length > 0;">-->
                                                        <p class="custom-margin-bottom-zero width-100"  *ngFor="let service of loc.services; let indexLocService = index;">
                                                             <span class="custom-width">
                                                                 <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand custom_margin_bottom" style="margin-right: -10px;
                                                                    height: 12px;">
                                                                     <input type="radio" name="serviceRadioButton"
                                                                            [disabled]="permissions2.indexOf(service.rand_id) > -1"
                                                                            (change)="showBookButtonMap($event);
                                                                            servicesCheckboxes2($event, indexLocService, loc.location.rand_id, loc.services, company.company_name.id);">
                                                                     <span></span>
                                                                 </label>
                                                             </span>
                                                            <span class="custom-hover-change-color custom-pointer m--margin-bottom-10" style="display: inline-flex; width: calc(100% - 150px);">
                                                                 <span data-toggle="modal" data-target="#infoModal" (click)="selectService(indexLocService)">
                                                                     {{service.service_name}}
                                                                 </span>
                                                             </span>
                                                            <span class="custom-float-right m--font-success">
                                                                 {{ service.price | currency:'CAD'}}
                                                             </span>
                                                        </p>
                                                    <!--</div>-->


                                                </div>
                                                <!--<div class="row width-100 d-none">-->
                                                    <!--<div class="col-md-12 m&#45;&#45;margin-top-10 text-right">-->
                                                        <!--<a (click)="addServicesToCart2(company, loc, service);" attr.disabled="isDisabled" class="btn btn-sm btn-primary custom-margin-right-book-button"-->
                                                           <!--[ngClass]="{'active': activeBookMap, 'disabled': disabledBookMap}">Add to Cart</a>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                                <div class="col-md-12">
                                                    <hr class="customHr">
                                                </div>

                                            </div>

                                        </div>

                                        <div class="row width-100 pull-right">
                                            <div class="col-md-12 m--margin-top-10 text-right m--padding-right-10">
                                                <a (click)="addServicesToCart2();" attr.disabled="isDisabled" class="btn btn-sm btn-primary custom-margin-right-book-button animated fadeInUp animation-delay-5"
                                                   [ngClass]="{'active': activeBookMap, 'disabled': disabledBookMap}">Add to Cart</a>
                                            </div>
                                        </div>

                                    </div>

                                    <!-- ------------------ END: Search By Service View END ---------------------- -->

                                </div>
                                <!-- All Services End Here -->
                                <!-- Map Start Here -->
                                <div class="col-sm-9" style="padding-right: 0px">
                                    <div class="radius_filter_div">
                                        <input type="number" [(ngModel)]="radiusInMeters" (input)="updateMarkers($event)" />
                                    </div>
                                    <!--<p> {{radiusInMeters}} </p>-->
                                    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="10" [scrollwheel]="null">
                                        <agm-marker [latitude]="latitude" [longitude]="longitude" [iconUrl]="icon">
                                            <agm-info-window>
                                                You are here
                                                <!--<br>-->
                                                <!--<strong>Subcategory</strong>: Seafood-->
                                                <!--<br>-->
                                                <!--<strong>Name</strong>: Mississaga Sea Restaraunt-->
                                                <!--<br>-->
                                                <!--<strong>Contact</strong>: 019182010-->
                                            </agm-info-window>
                                        </agm-marker>
                                        <agm-marker *ngFor="let marker of filteredMarkers; let markerIndex = index;"
                                                    [latitude]="marker.latitude" [longitude]="marker.longitude" (markerClick)="clickedMarker(infoWindow)">
                                            <agm-info-window [disableAutoPan]="true" #infoWindow>
                                                <!--<a routerLink="/">Go there</a>-->
                                                <strong> {{marker.name | uppercase}} </strong>
                                            </agm-info-window>
                                        </agm-marker>
                                        <agm-circle [latitude]="latitude" [longitude]="longitude" [radius]="radiusInMeters" [fillColor]="'blue'"
                                                    [circleDraggable]="false" [editable]="true">
                                        </agm-circle>
                                    </agm-map>
                                </div>
                                <!-- Map End Here -->
                                <!-- side Services info popup start -->
                                <div style="z-index: 2; position: absolute;	margin-left: 27%; background-color: white;width: 35%;overflow-y: auto; height: 100vh; overflow-x: hidden; margin-top: 5px;" *ngIf="showServices">
                                    <div class="container" style="padding: 10px">
                                        <h4> <i class="fa fa-map-marker custom-marker-style"></i>
                                            {{current_company_location.location[selectedIndex].name | uppercase}}
                                            <span class="custom-float-right custom-pointer" (click)="showServices=false;">
                                                <i class="fa fa-times"></i>
                                            </span>
                                        </h4>
                                        <p class="custom-margin-bottom-zero">
                                            <span class="checked"> 4.0 </span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                        </p>
                                        <p class="custom-margin-bottom-zero">
                                            <strong>
                                                Address:
                                            </strong>{{current_company_location.location[selectedIndex].address}}
                                        </p>
                                        <p class="custom-margin-bottom-zero">
                                            <strong>
                                                Phone:
                                            </strong>+1 416-488-5254
                                        </p>
                                        <p class="custom-margin-bottom-zero">
                                            <strong>
                                                Hours:
                                            </strong>
                                            <span style="color:red">Close</span>
                                            <span> 6:00 </span>
                                            <span> - </span>
                                            <span>Open</span>
                                            <span> 23:00 </span>
                                        </p>
                                        <br>
                                        <h5 style="font-weight: 600;
                              font-size: 15px;">
                                            Services
                                            <span style="position: absolute; right: 15px;">CA$</span>
                                        </h5>
                                        <div class="m-loader m-loader--brand m-loader--lg m--margin-top-25" *ngIf="preloaderServices"></div>
                                        <div class="custom-width-scroll" style="max-height: 60vh; min-height: 20vh;
                                        overflow-y: auto; overflow-x: hidden;" *ngIf=" services.length > 0;">
                                            <p style="margin-bottom:5px;"  *ngFor="let service of services; let i = index;">
                                                 <span class="custom-width">
                                                     <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand custom_margin_bottom" style="margin-right: -10px;
                                                        height: 12px;">
                                                     <input type="radio" name="serviceRadioButton"  [disabled]="permissions[i]" (change)="showBookButtonMap($event); servicesCheckboxes($event, i);">
                                                     <span></span>
                                                     </label>
                                                 </span>
                                                 <span class="custom-hover-change-color custom-pointer">
                                                     <span data-toggle="modal" data-target="#infoModal" (click)="selectService(i)">
                                                     {{service.service_name}}
                                                     </span>
                                                 </span>
                                                 <span class="custom-float-right  m--font-success" style="margin-right:5px;">
                                                     {{ service.price | currency }}
                                                 </span>
                                            </p>
                                        </div>
                                        <ng-template #noServicesFound [ngIf]="services.length == 0 && !preloaderServices">
                                            <p>No services found for this location.</p>
                                        </ng-template>
                                        <hr style="margin: 5px;">
                                        <div class="row">
                                            <div class="col-md-12" style="margin-top: 10px;
                                 text-align: right;">
                                                <a (click)="addServicesToCart();" attr.disabled="isDisabled"  class="btn btn-sm btn-primary custom-margin-right-book-button"
                                                   [ngClass]="{'active': activeBookMap, 'disabled': disabledBookMap}">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- side-info popup end -->
                                <!--Start: Comment Location 6-->
                                <!--End: Comment Location 6-->
                                <!--Start: Comment Location 9-->
                                <!--End: Comment Location 9-->
                            </div>
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Map Detail content End -->
<!-- Right side bar Modal  Start-->
<p-sidebar [(visible)]="visibleSidebar2" position="right" [baseZIndex]="10000" >
    <app-cart (onNotify)="recieveDataFromChild($event)"></app-cart>
</p-sidebar>
<!-- Right side bar Modal  End-->
<!-- Terms and Condition Modal Start -->
<div aria-labelledby="exampleModalLabel" class="modal fade custom-terms-main-div" id="m_modal_terms" role="dialog" tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-left: 25%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Terms and Condition
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">
            ×
            </span>
                </button>
            </div>
            <div class="modal-body">
                <div class="m-scrollable m-scroller ps cutom-terms-modal-body" data-height="200" data-scrollable="true" data-scrollbar-shown="true">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                        with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                        with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                        with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                    <div class="ps__rail-x custom-rail-x">
                        <div class="ps__thumb-x custom-thumb-x" tabindex="0"></div>
                    </div>
                    <div class="ps__rail-y custom-rail-y">
                        <div class="ps__thumb-y custom-thumb-y" tabindex="0"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!-- <button class="btn btn-secondary" data-dismiss="modal" type="button">
                   Close
                   </button> -->
                <button class="btn btn-primary"  data-dismiss="modal" type="button">
                    OK
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Terms and Condition Modal End -->
<!-- Info Modal Start Here -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Service Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>{{currentService.name}}</h4>
                <h6>{{currentService.details}} <span class="custom-float-right m--font-success">{{priceInfoTitle}}</span></h6>
                <p>{{currentService.price}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>
<!-- Info Modal End Here-->
